<h1 id="signup-title">
  <a href="http://www.raspberrypi.org" target="_blank">
    <img src="../../lib/images/pi-logo.png" width="150"/></a>ULTIMATE <span id="signup-title-two">PI</span>
</h1>

<form name="signup" class="signup-form" data-ng-submit="$ctrl.signup($ctrl.user)">
  <h3 class="signup-title"> GET STARTED </h4>
  <label for="username" class="signup-label"> Username</label>
  <input type="text" class="form-control" id="signup-input" required placeholder="username" data-ng-model="$ctrl.user.username">
  <label for="password" class="signup-label"> Password </label>
  <input type="password" class="form-control" id="signup-input" required placeholder="password" data-ng-model="$ctrl.user.password">

  <button type="submit" class="btn btn-primary"> Sign Up </button>
</form>
