@import "_theme.scss";
@import "vendor/bootstrap/stylesheets/_bootstrap.scss";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("../lib/images/power-button-on-tv-remote-greyscale-extra2.jpg");
  background-size: cover;
}

main {
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: rgba(106, 158, 232, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

a {
  color: rgba(214, 38, 79, 1.0);
}

a:hover {
  color: orange;
  text-decoration: none;
}

sign-up {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.signup-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.signup-title {
  color: white;
  margin-top: 0px;
}

.signup-label {
  color: white;
  font-size: 12px;
}

#signup-button {
  width: 100%;
  margin-top: 5px;
  background-color: rgba(214, 38, 79, 1.0);
  border: none;
}

#signup-footer {
  width: 100%;
  margin-top: 5px;
  color: white;
  text-align: center;
}

#signup-input {
  margin-bottom: 5px;
  color: gray;
}

#signup-title {
  width: 50%;
  min-width: 400px;
  margin-bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

#signup-title-header {
  margin-top: 30px;
}

#signup-title-two {
  color: rgba(214, 38, 79, 1.0);
}

#signup-title-subcontent {
  min-width: 400px;
  margin-bottom: 20px;
}

@media (max-width: 740px) {
  sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #signup-title {
    text-align: center;
    display: flex;
    align-items: center;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    main {
      width: 100%;
      height: 100%;
      background-color: rgba(106, 158, 232, 0.2);
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    sign-up {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #signup-title {
      text-align: center;
      display: flex;
      align-items: center;
    }

    #signup-title-subcontent {
      min-width: 0px;
      max-width: 200px;
    }
}
