@import "vendor/bootstrap/stylesheets/_bootstrap.scss";
@import './vendor/font-awesome/scss/font-awesome.scss';

@import "_theme.scss";
@import "_main.scss";
@import "_layout.scss";
@import "_links.scss";
@import "_nav.scss";
@import "_nav_hamburger_menu.scss";
@import "_buttons.scss";
@import "_fonts.scss";

@media (max-width: 768px) {
  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    height: 70px;
  }

  .navbar-collapse {
    background-color: black;
    opacity: 1;
    margin: 7px 0 0 0;
    height: 100%;
    width: 100%;
  }

  #navbar-list {
    display: none;
  }

  #navbar-main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  .navbar.navbar-inverse {
    width: 50%;
    border: none;
    background-color: inherit;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  #navcol-1.navbar-collapse ul li{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 100%;
  }

  .navbar.navbar-inverse {
    display: flex;
  }

  #navbar-title {
    width: 90%;
  }

  #navbar-title img {
    width: 30px;
  }

  #navbar-title-content {
    margin: 0;
    display: flex;
    align-items: center;
  }

  #signout-button {
    margin: 0;
  }

  sign-up, sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #signup-title {
    text-align: center;
    display: flex;
    align-items: center;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 680px)
  and (-webkit-min-device-pixel-ratio: 2) {

    #navbar-main {
      display: flex;
      justify-content: flex-start;
    }

    .navbar.navbar-inverse {
      width: 50px;
      border: none;
      background-color: inherit;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    #navbar-title {
      width: 90%;
    }

    #navbar-title img {
      width: 30px;
    }

    main {
      width: 100%;
      height: 100%;
      background-color: rgba(106, 158, 232, 0.2);
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .remote-button-container {
      margin-top: 300px;
    }

    sign-up {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #signup-title {
      text-align: center;
      display: flex;
      align-items: center;
    }

    #signup-title-subcontent {
      min-width: 0px;
      max-width: 200px;
    }
}
