@import "_theme.scss";
@import "vendor/bootstrap/stylesheets/_bootstrap.scss";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  // background: url('http://www.publicdomainpictures.net/pictures/20000/velka/power-button-on-tv-remote.jpg') no-repeat center center fixed;
  // background-size: cover;
  background: linear-gradient(0deg, rgba(2,173,231,0.3), rgba(2,173,231,0.3)), url('http://www.publicdomainpictures.net/pictures/20000/velka/power-button-on-tv-remote.jpg') no-repeat center center fixed;
}

main {
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: rgba(25, 25, 25, 0.4);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

sign-up {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.signup-form {
  height: 100%;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.signup-title {
  color: white;
  margin-top: 0px;
}

.signup-label {
  color: white;
  font-size: 12px;
}

#signup-input {
  margin-bottom: 5px;
  color: gray;
}
