<!-- <header>
  <div class="page-header">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1 id="signup-title-header">Ultimate <span id="signup-title-two">Pi</span> <small> </small><img src="../../lib/images/pi-logo.png" width="50" height="50"></h1>
          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav">
            <li class="active" role="presentation"><a href="#">Home </a></li>
            <li role="presentation"><a href="#">Remote </a></li>
            <li role="presentation"><a href="#">About </a></li>
            <li role="presentation"><a href="#">Features </a></li>
            <li role="presentation"><a href="#"></a></li>
            <li role="presentation"><sign-out></sign-out></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header> -->

<nav id="navbar-main">
  <div id="navbar-title">
    <h1 id="navbar-title-content">Ultimate <span id="signup-title-two">Pi</span> <small> </small><img src="../../lib/images/pi-logo.png" width="50"></h1>
  </div>
  <ul id="navbar-list">
    <a href="#/home"><li>HOME</li></a>
    <a href="#"><li>ABOUT</li></a>
    <a href="#"><li>FEATURES</li></a>
    <sign-out></sign-out>
  </ul>
</nav>
